Coursera-SwiftKey/final/de_DE/de_DE.blogs.txt
Coursera-SwiftKey/final/de_DE/de_DE.twitter.txt
Coursera-SwiftKey.zip
Coursera-SwiftKey/final/de_DE/de_DE.news.txt
Coursera-SwiftKey/final/en_US/en_US.twitter.txt
Coursera-SwiftKey/final/ru_RU/ru_RU.blogs.txt
Coursera-SwiftKey/final/ru_RU/ru_RU.twitter.txt
Coursera-SwiftKey/final/fi_FI/fi_FI.twitter.txt
Coursera-SwiftKey/final/en_US/en_US.news.txt
Coursera-SwiftKey/final/fi_FI/fi_FI.blogs.txt
Coursera-SwiftKey/final/en_US/en_US.blogs.txt
Coursera-SwiftKey/final/fi_FI/fi_FI.news.txt
Coursera-SwiftKey/final/ru_RU/ru_RU.news.txt